:root{
  --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #54595E;
    --e-global-color-accent: #3F96B4;
    --e-global-color-17d712d: #326180;
}
body {
  font-family: 'Roboto', sans-serif;
  
}
header{
  background-color: #fff;
}
main{
    flex-grow: 1;
    background-color: #FAFAFA;
   
}

.menu a{
  color: var(--e-global-color-17d712d);
  font-weight: 400;
  font-size: 18px;
}
h1, h2 {
      font-weight: 700;
      color: var(--e-global-color-accent);
    }

    p {
      font-weight: 400;
    }

    .servicios{
      background-color: var(--e-global-color-17d712d);
      color: #FAFAFA;
    }
    .icon{
      width: 80px;
      height: 80px;
      border-radius: 50%;         /* Hace el div circular */
      border: 1px solid #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;               /* Color del ícono */
      font-size: 32px;            /* Tamaño del ícono */
      box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Sombra suave */
    }
    .btn-contacto{
      font-size: 18px;
      font-weight:600;
        width: 150px;
        height: 50px;
        border: none;
        border-radius: 10px;
        background-color: var(--e-global-color-accent);
        color: #fff;
    }

    .item {
  background-color: #66c1f5;
  border-radius: 12px;
  padding: 30px 20px;
  color: white;
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 200px;
  position: relative;
  overflow: hidden;
}

.item::before {
  content: "★"; /* símbolo flecha */
  background-color: #59aee3;
  color: white;
  font-size: 28px;
  font-weight: bold;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}


.item h3 {
  font-weight: 700;
  font-size: 20px;
  margin-left: 70px; /* separación del ícono */
}

.item p {
  margin-left: 70px;
  font-size: 16px;
}

/*CONTACTO*/

#lista {
  padding: 0;
  text-align: center;
}


#title {
  color: #3F96B4;
  position: relative;
  right: 10px;
}

#boton-contacto {
  background-color: #3F96B4; 
  color: white; 
  border: 2px solid #3F96B4; 
  transition: all 0.3s ease; 
}

#boton-contacto:hover {
  background-color: white; 
  color: #3F96B4; 
  border-color: #3F96B4;
  transform: scale(1.05); 
}

#horarios{
  color: #3F96B4;
}


#lista, #direccion, #email, #telefono, #whatsapp {
  color: #3F96B4;
}
/* Estilos para los enlaces */
a#direccion, 
a#email, 
a#telefono, 
a#whatsapp {
  color: #3F96B4;
  transition: transform 0.3s ease, color 0.3s ease;
  position: relative;
  margin-top: 20px;
  display: inline-block;
}

a#direccion:hover, 
a#email:hover, 
a#telefono:hover, 
a#whatsapp:hover {
  transform: translateY(-5px);
  color: #3F96B4; 
}

a#direccion:hover svg, 
a#email:hover svg, 
a#telefono:hover svg, 
a#whatsapp:hover svg {
  transform: translateY(-5px);
}

svg {
  transition: transform 0.3s ease;
}

.formulario-contacto{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 2%;
  color: #fff;
  position: relative;
  top: 20px;
}

.animate__animated.animate__fadeInUp{
  visibility: visible;
}


footer {
  background-color: #F0EEE9 ;
}

footer a,
footer i,
footer h5,
footer li {
  color: #3F96B4 !important;
}

footer a.text-decoration-none {
  color: #3F96B4 !important;
}

/*SLIDER CLIENTES*/

.slider-clientes .slide-cliente {
    min-width: 160px; 
    margin: 0 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 30px;
}

.slider-clientes .slide-cliente img {
    width: 120px;
    height: 80px; 
    object-fit: contain;
    display: block;
    border-radius: 8px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.slider-clientes .slider-clientes-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 22);
    will-change: transform;
    background-color: #FAFAFA;
}

.slider-clientes .slide-cliente {
    min-width: 200px; 
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-clientes .slide-cliente img {
    max-width: 100%;
    height: auto;
    display: block;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateY(calc(-200px * 11));
        transform: translateX(calc(-200px * 11));
    }
}

.h1-cliente {
    text-align: center;
}

.desc-empresas, 
.info-empresas{
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: var(--font-size-base);
}

.info-empresas {
    display: flex;
    justify-content: center;
    text-align: center;  /* Centra el texto dentro del párrafo */
    font-weight: 400;
    font-size: var(--font-size-base);
    padding-left: 2%;
    padding-right: 2%;
    margin: 10px 3rem;
    line-height: 1.8;
    flex-direction: column; 
}


.desc-empresas{
    font-weight: 600;
}

.animate__animated {
    visibility: hidden;
}

.animate__animated.animate__fadeInUp{
    visibility: visible;
}
